@keyframes GradientAnimation {
    0% {
        background-position:0% 20%;
    }

    100%{
        background-position:100% 80%;
    }
}

@keyframes FadeFlash {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.4;
    }

    20% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
